<div id="Menu_Container" class="menu-container">
	<ul id="Menu_List" class="list disable-select disable-drag">
		<!-- Structure of items
		<li class="item">
			<div class="clickable" (click)="onClick('home')">
				<img src="assets/svg/home.svg" class="icon" alt=""/>
				<p>{{language.Menu_Home}}</p>
			</div>
		</li>


		<li class="item">
			<div class="clickable" (click)="onClick('login')">
				<img src="assets/svg/application.svg" class="icon" alt=""/>
				<p>{{language.Menu_Login_Application}}</p>

				<div class="arrow">
					<img src="assets/svg/handless_arrow_down.svg" alt=""/>
				</div>
			</div>

			<ul class="child-list">
				<li>
					<div class="clickable-child" (click)="onClick('login_app_followergir')">
						<p>{{language.Menu_Login_Application_Followergir}}</p>
					</div>

				</li>
				<li>
					<div class="clickable-child" (click)="onClick('login_app_membergir')">
						<p>{{language.Menu_Login_Application_Membergir}}</p>
					</div>
				</li>
			</ul>
		</li>
			-->
	</ul>
</div>
