
<div class="links">
	<div class="socials">
		<a href="https://github.com/iodynamic" target="_blank" class="social"><img src="/assets/svg/logo/github.svg" alt="Github" /></a>
		<a href="https://t.me/iodynamic" target="_blank" class="social"><img src="/assets/svg/logo/telegram.svg" alt="Telegram" /></a>
	</div>

	<div class="urls">
		<a routerLink="/contact-us">{{Footer_Link_ContactUs}}</a>
		<a href="https://iodynamic.com/policy/privacy-policy" target="_blank">{{Footer_Link_Privac_Policy}}</a>
	</div>
</div>

<div class="copyright_container">
	<div class="logo" draggable="false">
		<div class="logo-dynamic">
			<div class="line one"></div>
			<div class="line two"></div>
			<div class="line three"></div>
		</div>
		<img id="footer_iodynamic_logo" class="iodynamic_logo" src="/assets/images/iodynamic_logo.png" draggable="false" alt="IODynamic Logo" />
	</div>

	<div class="copyright">
		<p class="first">{{Footer_Copyright}}</p>
		<br />
		<p>{{Footer_Copyright_Name}}</p>
	</div>
</div>
